<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_CustomRegistration
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <?php $_collection = $block->attributeCollectionFilter(); 
        if (count($_collection)):
    ?>
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend><br> 
    <?php endif; ?>
    		<?php foreach($_collection as $attributeData){ ?>
            <?php $isRequiredArray = explode(' ', $attributeData->getFrontendClass());?>
    			<?php $attrAsArray = $attributeData->toArray(); ?>
                <?php 
                $usedInForms = $block->getUsedInForms($attributeData->getId());
                $isShowOnRegisterPage = in_array('customer_account_create', $usedInForms);?>
                <?php if ($isShowOnRegisterPage): ?>
    			<div class="<?php if($attributeData->getFrontendInput() == 'boolean') echo 'choice ' ?> field <?php echo $attributeData->getAttributeCode() ?> <?php echo in_array('required', $isRequiredArray)?'required':'' ?>">
    			<?php if ($attributeData->getFrontendInput() != 'boolean'): ?>
		            <label for="<?php echo $attributeData->getAttributeCode() ?>" class="label"><span><?php /* @escapeNotVerified */ echo $attributeData->getFrontendLabel(); ?></span></label>
	            <?php endif ?>
		            <div class="control">
		            <?php if ($attributeData->getFrontendInput() == 'text'): ?>
		                <input type="text" name="<?php echo $attributeData->getAttributeCode() ?>" id="<?php echo $attributeData->getAttributeCode() ?>" title="<?php /* @escapeNotVerified */ echo __('My Attribute') ?>" class="input-text <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> autocomplete="off">

	                <?php elseif ($attributeData->getFrontendInput() == 'textarea'):?>
	                	<textarea name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-text <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> ></textarea>

                	<?php elseif ($attributeData->getFrontendInput() == 'date'):?>
                		<input type="text" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" value="" class="dob_type <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> autocomplete="off">
            		<?php elseif ($attributeData->getFrontendInput() == 'select' && !in_array('dependable_field_'.$attrAsArray['attribute_code'], $isRequiredArray)):
                        $optiondata = $attributeData->getSource()->getAllOptions();
                        usort($optiondata, function($a, $b) {
                            return $a['value'] - $b['value'];
                        });
                    ?>
        				<select name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-select <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?>>
        				<?php foreach ($optiondata as $instance) { ?>
								  <option value="<?php echo $instance['value'] ?>"> <?php echo $instance['label'] ?></option>
							<?php } ?>
        				</select>
    				<?php elseif ($attributeData->getFrontendInput() == 'multiselect'):
                        $optiondata = $attributeData->getSource()->getAllOptions();
                        usort($optiondata, function($a, $b) {
                            return $a['value'] - $b['value'];
                        });
                    ?>
        				<select name="<?php echo $attrAsArray['attribute_code'] ?>[]" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-select <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> multiple="multiple">
        				<?php foreach ($optiondata as $instance) { ?>
                            <?php if ($instance['value'] != '') :?>
								  <option value="<?php echo $instance['value'] ?>"> <?php echo $instance['label'] ?></option>
                            <?php endif ?>
							<?php } ?>
        				</select>
        			<?php elseif ($attributeData->getFrontendInput() == 'boolean'):?>
        				<input type="checkbox" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-text <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> value="1">
        				<label for="is_subscribed" class="label"><span><?php /* @escapeNotVerified */ echo $attributeData->getFrontendLabel(); ?></span></label>

    				<?php elseif ($attributeData->getFrontendInput() == 'image'):?>
                        <input type="file" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-text custom_file <?php echo $attributeData->getFrontendClass() ?>" data-allowed = "<?php echo $attrAsArray['note'] ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?>><br>
                        <span class="note"><span><?php echo $attrAsArray['note'] ?></span></span>

                    <?php elseif ($attributeData->getFrontendInput() == 'file'):?>
                        <input type="file" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-text custom_file <?php echo $attributeData->getFrontendClass() ?>" data-allowed = "<?php echo $attrAsArray['note'] ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?>><br>
                        <span class="note"><span><?php echo $attrAsArray['note'] ?></span></span>
                	<?php endif; ?>

                    <?php if (in_array('dependable_field_'.$attrAsArray['attribute_code'], $isRequiredArray)):?>
                        <select name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-select <?php echo 'dependable_field_'.$attrAsArray['attribute_code']; ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?>>
                        <?php foreach ($attributeData->getSource()->getAllOptions() as $instance) { ?>
                                <?php if ($instance['value'] != '') :?>
                                  <option value="<?php echo $instance['value'] ?>"> <?php echo $instance['label'] ?></option>
                                <?php endif ?>
                            <?php } ?>
                        </select>
                    <?php endif; ?>
		            </div>
	            </div>
                <?php endif ?>
        <?php } ?>
</fieldset>
<script> 
    require([
        "jquery",
        "mage/calendar",
    ], function ($){
        $.each($('.dob_type'),function(i,v){
            $(this).calendar({showsTime: false,dateFormat: "M/d/yy"});
        });

        /* Dependable Fields Control */
        $.each($( "select[class*='dependable_field_']" ), function(){
            var childClass = $(this).attr('id');
            var parentValue = $.trim($(this).find("option:selected").text());
            if(parentValue == 'No' || parentValue == ''){
                $('.'+$('.child_'+childClass).attr('id')).hide();
            }
        });
        
        $( "select[class*='dependable_field_']" ).change(function(target){
            var childClass = $(this).attr('id');
            var parentValue = $.trim($(this).find("option:selected").text());
            if(parentValue == 'Yes'){
                $('.'+$('.child_'+childClass).attr('id')).show();
            }else{
                $('.child_'+childClass).removeAttr('data-validate');
                $('.'+$('.child_'+childClass).attr('id')).hide();
            }
        });

        /* End of Dependable Field controll*/

        $('.custom_file').change(function(){
            var ext_arr = $(this).attr("data-allowed").split(",");
            if(ext_arr.indexOf($(this).val().split("\\").pop().split(".").pop()) < 0){  
                //alert('Invalid Image Extension. Allowed extension is '+$(this).attr("data-allowed"));
                var self = $(this);
                $('<div />').html('Invalid Image Extension. Allowed extensions are '+$(this).attr("data-allowed"))
                .modal({
                    title: 'Attension!',
                    autoOpen: true,
                    buttons: [{
                     text: 'Ok',
                        attr: {
                            'data-action': 'cancel'
                        },
                        'class': 'action',
                        click: function() {
                                self.val('');
                                this.closeModal();
                            }
                    }]
                 });
                
            }
        });
    })
    </script>  