<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_CustomRegistration
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<form class="form form-edit-account" action="<?php echo $this->getUrl("customregistration/editadditionalinfo/") ?>" method="post" id="form-validate" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
<fieldset class="fieldset wk-edit-additional-info" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
	<legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend><br>
    <?php $_collection = $block->attributeCollectionFilter(); ?>
            <?php $_customerData = $block->getCurrentCustomer()->toArray(); ?>
    		<?php foreach($_collection as $attributeData){ ?>
    			<?php $attrAsArray = $attributeData->toArray();?>
                <?php $isRequiredArray = explode(' ', $attributeData->getFrontendClass()); ?>
                <?php
                $usedInForms = $block->getUsedInForms($attributeData->getId());
                $isShowOnEditPage = in_array('customer_account_edit', $usedInForms);?>
                <?php $_fieldValue = '';
                      $_imageValue = '';
                    foreach ($_customerData as $key => $value) {
                        if($attrAsArray['attribute_code'] == $key){
                            if ($attrAsArray['frontend_input'] == 'date') {
                                $_fieldValue = $this->formatDate($value, \IntlDateFormatter::SHORT, false);
                            } elseif ($attrAsArray['frontend_input'] == 'boolean') {
                                $_fieldValue = 'checked';
                            } elseif ($attrAsArray['frontend_input'] == 'select') {
                                $_fieldValue = $value;
                            } elseif ($attrAsArray['frontend_input'] == 'multiselect') {
                                $_fieldValue = $value;
                            } elseif ($attrAsArray['frontend_input'] == 'image') {
                                 $_fieldValue =  '<a class="wk_images" href="'.$block->getUrl('pub/media/customfield', ["_secure" => $this->getRequest()->isSecure()]).'/image'.$value.'" onclick="imagePreview(\'customfields_your_image_image\'); return false;">
                                    <img src="'.$block->getUrl('pub/media/customfield', ["_secure" => $this->getRequest()->isSecure()]).'/image'.$value.'" id="customfields_your_image_image" title="'.__('Preview Image').'" height="22" width="22" class="small-image-preview v-middle">
                                </a>';

                                $_imageValue = $value;
                            } elseif ($attrAsArray['frontend_input'] == 'file') {
                                $_fieldValue = "<a class='wk_file' alt='file' href='".$this->getUrl().'pub/media/customfield/file'.$value."'>".$value."</a>";
                                $_imageValue = $value;
                            } else {
                                $_fieldValue = $value;
                            }
                        }
                    }
                ?>
                <?php if ($isShowOnEditPage): ?>
    			<div class="field   <?php if ($attributeData->getFrontendInput() == 'boolean') echo ' choice ' ?> <?php echo $attributeData->getAttributeCode() ?> <?php echo in_array('required', $isRequiredArray)?'required':'' ?>">
    			<?php if ($attributeData->getFrontendInput() != 'boolean'): ?>
		            <label for="<?php echo $attributeData->getAttributeCode() ?>" class="label"><span><?php /* @escapeNotVerified */ echo $attributeData->getFrontendLabel(); ?></span></label>
	            <?php endif ?>
		            <div class="control">
		            <?php if ($attributeData->getFrontendInput() == 'text'): ?>
		                <input type="text" name="<?php echo $attributeData->getAttributeCode() ?>" id="<?php echo $attributeData->getAttributeCode() ?>" title="<?php /* @escapeNotVerified */ echo __('My Attribute') ?>" class="input-text <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> value="<?php echo $_fieldValue; ?>" autocomplete="off">
	                <?php elseif ($attributeData->getFrontendInput() == 'textarea'):?>
	                	<textarea name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-text <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> ><?php echo $_fieldValue; ?></textarea>
                	<?php elseif ($attributeData->getFrontendInput() == 'date'): ?>
                		<input type="text" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" value="<?php echo $_fieldValue; ?>" class="dob_type <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> value="<?php echo $_fieldValue; ?>" autocomplete="off">
            		<?php elseif ($attributeData->getFrontendInput() == 'select' && !in_array('dependable_field_'.$attrAsArray['attribute_code'], $isRequiredArray)):
                        $optiondata = $attributeData->getSource()->getAllOptions();
                        usort($optiondata, function($a, $b) {
                            return $a['value'] - $b['value'];
                        });
                    ?>
        				<select name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-select <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> <?php ?>>
        				<?php foreach ($optiondata as $instance) { ?>
                            <?php if ($instance['value'] != '') :?>
								  <option value="<?php echo $instance['value'] ?>" <?php echo $_fieldValue==$instance['value']?'selected':''; ?>> <?php echo $instance['label'] ?></option>
                            <?php endif; ?>
							<?php } ?>
        				</select>
    				<?php elseif ($attributeData->getFrontendInput() == 'multiselect'):
                        $optiondata = $attributeData->getSource()->getAllOptions();
                        usort($optiondata, function($a, $b) {
                            return $a['value'] - $b['value'];
                        });
                    ?>
        				<select name="<?php echo $attrAsArray['attribute_code'] ?>[]" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-select <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> multiple="multiple">
        				<?php foreach ($optiondata as $instance) { ?>
                            <?php if ($instance['value'] != '') :?>
								  <option value="<?php echo $instance['value'] ?>" <?php echo in_array($instance['value'], $_fieldValue)?'selected':''; ?>> <?php echo $instance['label'] ?></option>
                            <?php endif; ?>
							<?php } ?>
        				</select>
        			<?php elseif ($attributeData->getFrontendInput() == 'boolean'):?>
        				<input type="checkbox" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-text <?php echo $attributeData->getFrontendClass() ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?> value="1" <?php echo $_fieldValue; ?>>
        				<label for="is_subscribed" class="label"><span><?php /* @escapeNotVerified */ echo $attributeData->getFrontendLabel(); ?></span></label>
    				<?php elseif ($attributeData->getFrontendInput() == 'image'):?>
                        <?php if($_imageValue != ''): ?>
                            <?php echo $_fieldValue; ?>
                            <input type="file" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" value="<?php echo $_imageValue; ?>" class="input-file attribute_image custom_file">

                            <span class="delete-image">
                                <input type="checkbox" name="<?php echo $attrAsArray['attribute_code'] ?>[delete]" value="" onchange="this.value = this.checked ? 1 : 0;" class="checkbox">
                                <label for="customfields_your_image_delete"><?php echo __('Delete Image') ?></label>
                                <input type="hidden" name="customer[<?php echo $attrAsArray['attribute_code'] ?>]" value="<?php echo $_imageValue; ?>">
                            </span>
                        <?php else: ?>
                            <input type="file" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" value="" class="input-file attribute_image custom_file <?php echo $attributeData->getFrontendClass() ?>" data-allowed = "<?php echo $attrAsArray['note'] ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?>>
                        <?php endif; ?>
                        <br>
                        <span class="note"><span><?php echo $attrAsArray['note'] ?></span></span><br>
                        <div id="wk_add_images_container">
                        </div>
                    <?php elseif ($attributeData->getFrontendInput() == 'file'):?>
                        <?php if($_imageValue != ''): ?>
                        <input type="file" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-file custom_file">
                        <span><?php echo $_fieldValue; ?></span>
                        <input type="hidden" name="customer[<?php echo $attrAsArray['attribute_code'] ?>]" value="<?php echo $_imageValue; ?>">
                        <?php else: ?>
                            <input type="file" name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-file custom_file <?php echo $attributeData->getFrontendClass() ?>" data-allowed = "<?php echo $attrAsArray['note'] ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?>>
                        <?php endif; ?>

                        <br>
                        <span class="note"><span><?php echo $attrAsArray['note'] ?></span></span><br>
                	<?php endif; ?>
                    <?php if (in_array('dependable_field_'.$attrAsArray['attribute_code'], $isRequiredArray)):?>
                        <select name="<?php echo $attrAsArray['attribute_code'] ?>" id="<?php echo $attrAsArray['attribute_code'] ?>" class="input-select <?php echo 'dependable_field_'.$attrAsArray['attribute_code']; ?>" <?php echo in_array('required', $isRequiredArray)? 'data-validate="{required:true}"':'' ?>>
                        <?php foreach ($attributeData->getSource()->getAllOptions() as $instance) { ?>
                            <?php if ($instance['value'] != '') :?>
                                  <option value="<?php echo $instance['value'] ?>" <?php echo $_fieldValue==$instance['value']?'selected':''; ?>> <?php echo $instance['label'] ?></option>
                            <?php endif; ?>
                            <?php } ?>
                        </select>
                    <?php endif; ?>
		            </div>
	            </div>
	        <?php endif; ?>
        <?php } ?>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" title="Save"><span>Save</span></button>
            </div>
        </div>
</fieldset>
</form>
<script>
    require([
        "jquery",
        'jquery/ui',
        "mage/calendar",
        'mage/translate',
    ], function ($){
        $.each($('.dob_type'),function(i,v){
            $(this).calendar({showsTime: false,dateFormat: "M/d/yy"});
        });
        $('.form-edit-account').append($('.wk-edit-additional-info'));
        $('.attribute_image').on('change',function(){
            half_upload($(this));
        });

        function half_upload(this_input){
            $("#wk_add_images_container").html("");
            for(var i=0; i<this_input[0].files.length; i++){
                if(this_input[0].files && this_input[0].files[i]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(this_input).siblings("#wk_add_images_container").html('');
                        $(this_input).siblings("#wk_add_images_container").append("<span class='wk_rma_image_cover'><img class='wk_rma_image' src='"+e.target.result+"' width='75' height='75'/></span>");
                    }
                    reader.readAsDataURL(this_input[0].files[i]);
                }
            }
        }
        /* Dependable Fields Controll */
        $.each($( "select[class*='dependable_field_']" ), function(){
            var childClass = $(this).attr('id');
            var parentValue = $.trim($(this).find("option:selected").text());
            if(parentValue == 'No' || parentValue == ''){
                $('.'+$('.child_'+childClass).attr('id')).hide();
            }
        });

        $( "select[class*='dependable_field_']" ).change(function(target){
            var childClass = $(this).attr('id');
            var parentValue = $.trim($(this).find("option:selected").text());
            if(parentValue == 'Yes'){
                $('.'+$('.child_'+childClass).attr('id')).show();
            }else{
                $('.child_'+childClass).removeAttr('data-validate');
                $('.'+$('.child_'+childClass).attr('id')).hide();
            }
        });

        /* End of Dependable Field controll*/

        $('.custom_file').change(function(){
			var ext_arr = $(this).attr("data-allowed").split(",");
			if(ext_arr.indexOf($(this).val().split("\\").pop().split(".").pop()) < 0){
				var self = $(this);
				$('<div />').html('Invalid Image Extension. Allowed extensions are '+$(this).attr("data-allowed"))
	            .modal({
	                title: 'Attension!',
	                autoOpen: true,
	                buttons: [{
	                 text: 'Ok',
	                    attr: {
	                        'data-action': 'cancel'
	                    },
	                    'class': 'action',
	                    click: function() {
	                    		self.val('');
	                            this.closeModal();
	                        }
	                }]
	             });

			}
		});

    });
    </script>
