<?php

$collection = $this->getPointRecordCollection();
if($collection){
    echo <<<HTML
<table>
<tr>
    <td> Point </td>
    <td> Description </td>
    <td> Date </td>
</tr>
HTML;

    foreach($collection as $item){
        echo <<<XOT
<tr>
    <td>{$item['point_value']}</td>
    <td>{$item['description']}</td>
    <td>{$item['created_at']}</td>
</tr>
XOT;

    }
    echo <<<HTML
</table>
HTML;
}else{
    echo __('no data exist');
}



