<?php
/* Sample on use Object Manager */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();

?>
<p> Click the following to redeem coupon </p>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Point
        </th>
        <th>
            Operation
        </th>
    </tr>
    <tr>
        <td>
            $20 Coupon
        </td>
        <td>
            30 points
        </td>
        <td>
            <a class="coupon-purchase-button" href="#" ref="1">Buy</a>
        </td>
    </tr>
</table>

<form id="redeem-coupon-form" method="post" action="<?= $baseUrl."/rewardpoint/redeem/"; ?>">
    <input type="hidden" name="form-key" value="pending" />
    <input type="hidden" name="catalog-coupon-id" value="1" />
</form>

<?php
/* Required JS Sample*/
?>

<script type="text/javascript">
    require(["jquery"],function($) {
        $(function(){
            $(".coupon-purchase-button").click(function(e){
                e.preventDefault();
                var ref = $(this).attr('ref');
                $("input[type=catalog-coupon-id]").val(ref);
                $("#redeem-coupon-form").submit();
            });
        });
    });
</script>

